*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}
body{
   
    background-color:hsl(30, 38%, 92%);
    display:flex;    flex-direction: column;
    justify-content: center;
    align-content:center;
    align-items:center;
    padding:1em;
    min-height: 100svh;
    white-space: sp;
    
}
.container
{
    display:flex;
    flex-direction: column;
    
    background-color: white;
    border-radius: 0.5rem;
    
}
.desktop-img{
    display: none;
}
img{
    max-width: 100%;
    border-radius: 0.5rem 0.5rem 0 0;
    
}
.text-sec
{
    padding:1.5rem;
    font-family: 'Monteserrat',sans-serif;
    color:hsl(228, 12%, 48%);
    font-size: 1em;
    
    
}

.ribbontext
{
    
    letter-spacing: 0.55em;
    text-transform: uppercase;
    
    font-size: 0.7rem;
    
}

.ttle,.current-price{
    font-family:'Fraunces',sans-serif;
    font-weight: 700;
}
h2{
    font-size: 2rem;
    line-height: 1;
    padding:1rem 0.1rem;
    color: hsl(212, 21%, 14%);

}
.description
{
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.prices
{
    text-align: left;
    padding:1rem 0;

}
.current-price
{
    color:hsl(158, 36%, 37%);
    font-size: 2rem;

}
.butn
{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap:1ch;
    padding:1rem 5.74rem;
    margin:auto;
    
    border-radius: 0.5rem;
    border: 0;
    background-color:hsl(158, 36%, 37%) ;  
}
.butn:hover
{
    background-color: hsl(158,45%, 25%);
}
.butn>span{
    color:white;
    font-weight: 700;
    font-size:1rem;
    letter-spacing: 0.01em;

}
.credits
{
    font-size: 0.6rem;
    text-align: center;
    padding-top:0.7rem;
    color:hsl(228, 12%, 48%);
}

.credits>a
{
    text-decoration: none;
    color:hsl(212, 21%, 14%);
    text-decoration:underline;
}
.credits>a:visited
{
    text-decoration: none;
}

@media screen and (min-width:40rem)
{
 
    .mobile-img
    {
        display:none;
    }
    .container{
        flex-direction: row;
        flex:1;
        align-items: center;
        max-width:38rem;
        
    }
    .desktop-img{
        display: block;
        border-radius: 0.5rem 0 0 0.5rem;
        max-width:19rem;
    }
    .text-sec{
        display: flex;
        flex-direction: column;
        flex:1;
    }
    .butn{
        margin:1rem;
        padding:1rem 3.5rem;
    }
    .credits{
    
        position: relative;
        top:2rem;
       
        
        
    }
}

